// 压缩字体包-只适用于数据大屏的部分文字
@font-face {
  font-family: 'PingFang Bold';
  src: url('./PingFangBold.ttf');
}

// 压缩字体包-只适用于数据大屏的部分文字
@font-face {
  font-family: 'PingFang Medium';
  src: url('./PingFangMedium.ttf');
}

// 完整字体包-可用于所有文字
@font-face {
  font-family: 'PingFang Regular';
  src: url('./PingFangRegular.ttf');
}

// 工作台字体包
@font-face {
  font-family: 'Bahnschrif';
  src: url('./Bahnschrif.TTF');
}