.bar-frame{
	font-family: 'PingFang Regular';
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;
	color: $d-bottomtab-color;
	font-size: 20upx;
	.bar-icon{
		margin-bottom: 6upx;
		margin-top: 2upx;
		width: 48upx;
		height: 48upx;
	}
	.bar-ontitle{
		color: $d-bottomtab-oncolor;
	}
	.bar-workframe{
		width: 150upx;
		.bar-work{
			height: 80upx;
			width: 80upx;
			position: relative;
			bottom: 15px;
		}
	}
}
.bar-frame-ios{
	font-family: 'PingFang Regular';
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 92upx !important;
	min-height: 92upx !important;
	color: $d-bottomtab-color;
	.bar-icon{
		// margin-bottom: 6upx;
		// margin-top: 2upx;
		width: 44upx;
		height: 44upx;
	}
	.bar-title{
		font-size: 20upx;
		-webkit-transform:scale(0.9);
	}
	.bar-ontitle{
		color: $d-bottomtab-oncolor;
	}
	.bar-workframe{
		width: 138upx;
		.bar-work{
			height: 74upx;
			width: 74upx;
			position: relative;
			bottom: 20upx;
		}
	}
}
.bar-frame-android{
	font-family: 'PingFang Regular';
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 106upx !important;
	min-height: 106upx !important;
	color: $d-bottomtab-color;
	font-size: 20upx;
	.bar-icon{
		margin-bottom: 6upx;
		width: 50upx;
		height: 50upx;
	}
	.bar-ontitle{
		color: $d-bottomtab-oncolor;
	}
	.bar-workframe{
		width: 156upx;
		.bar-work{
			height: 84upx;
			width: 84upx;
			position: relative;
			bottom: 28upx;
		}
	}
}