// 主题样式

// 字体
$d-text-title: #2F3034;
$d-text-tag: #A5A9B4;
$d-text-cont: #606166;
$d-text-stress: #1678FF;
$d-text-error: #FB4D44;
$d-text-warning: #FDA817;
$d-text-white: #FFFFFF;
$d-text-abnormal: #FFA200;

// 边框
$d-border-color: #EBEBEB;

// 背景
$d-bg-main: #FFFFFF;
$d-bg-top: linear-gradient(180deg, #EFF5FF 0%, #FFFFFF 100%);
$d-bg-search: #F5F6F8;
$d-bg-info: #FFFFFF;
$d-bg-notice: #FFFFFF;
$d-bg-clock: #FFFFFF;
$d-bg-clock-in: #F5F5F5;
$d-bg-todo: #FFFFFF;
$d-bg-todo-in: #51A3F7;

// 导航栏
$d-toptab-bg: #FFFFFF;
$d-toptab-color: #333333;
$d-bottomtab-bg: #FFFFFF;
$d-bottomtab-color: #ACACAC;
$d-bottomtab-oncolor: #1678FF;

// 职级
$d-lower-bg: #FAECE0;
$d-lower-color: #D28B56;
$d-intermediate-bg: #EEEEEE;
$d-intermediate-color: #B0B0B0;
$d-senior-bg: #FFF4E4;
$d-senior-color: #F0B860;
$d-manage-bg: #E0EDFF;
$d-manage-color: #1678FF;
$d-owner-bg: #F6F2FF;
$d-owner-color: #9285D3;
